<%- include('header'); -%>
<center><h1> Đã đăng kí thành công </h1></center>
<ul><strong>Họ và tên:</strong> <%= ten %></ul>
<ul><strong>Email:</strong> <%= email %></ul>
<ul><strong>Số điện thoại:</strong> <%= sdt %></ul>
<%- include('footer'); -%>