<%- include('header');-%>
 <center> <h1>Thông tin cá nhân</h1> </center>
 <h1>Email:</h1>  <%= id.email %>
 <h1>Tên hiển thị:</h1> <%= id.displayname %>
 <h1>Số điện thoại:</h1> <%= id.phone %>
<%- include('footer');-%>